<!-- Form dish start -->
<%= form_with(model: @dish, local: true) do |f| %>
<!-- Form dish end -->

  <!-- Label and input for dish_name start -->
  <div class="form-group">
    <%= f.label :dish_name %>

    <!-- Input for dish_name start -->
    <%= f.text_field :dish_name, class: "form-control" %>
    <!-- Input for dish_name end -->
  </div>
  <!-- Label and input for dish_name end -->

  <!-- Label and input for c_id start -->
  <!-- Input for c_id start -->
  <%= f.hidden_field :c_id, value: @cuisine.id %>
  <!-- Input for c_id end -->
  <!-- Label and input for c_id end -->

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
