<% was_validated = cuisine.errors.any? %>

<%= form_with(model: cuisine, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% c_type_class = "form-control" %>
    <% c_type_was_invalid = cuisine.errors.include?(:c_type) %>

    <% if was_validated %>
      <% if c_type_was_invalid %>
        <% c_type_class << " is-invalid" %>
      <% else %>
        <% c_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :c_type %>
    <%= f.text_field :c_type, class: c_type_class, placeholder: "Enter c type" %>
    <% if c_type_was_invalid %>
      <% cuisine.errors.full_messages_for(:c_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
