<% was_validated = dish.errors.any? %>

<%= form_with(model: dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% dish_name_class = "form-control" %>
    <% dish_name_was_invalid = dish.errors.include?(:dish_name) %>

    <% if was_validated %>
      <% if dish_name_was_invalid %>
        <% dish_name_class << " is-invalid" %>
      <% else %>
        <% dish_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_name %>
    <%= f.text_field :dish_name, class: dish_name_class, placeholder: "Enter dish name" %>
    <% if dish_name_was_invalid %>
      <% dish.errors.full_messages_for(:dish_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% c_class = "form-control" %>
    <% c_was_invalid = dish.errors.include?(:c) %>

    <% if was_validated %>
      <% if c_was_invalid %>
        <% c_class << " is-invalid" %>
      <% else %>
        <% c_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :c_id %>
    <%= f.collection_select :c_id, Cuisine.all, :id, :to_s, {}, class: "form-control" %>
    <% if c_was_invalid %>
      <% dish.errors.full_messages_for(:c).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
