<% was_validated = dish.errors.any? %>

<%= form_with(model: dish, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for dish_name start -->
  <div class="form-group">
    <% dish_name_class = "form-control" %>
    <% dish_name_was_invalid = dish.errors.include?(:dish_name) %>

    <% if was_validated %>
      <% if dish_name_was_invalid %>
        <% dish_name_class << " is-invalid" %>
      <% else %>
        <% dish_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_name %>
    <!-- Input for dish_name start -->
    <%= f.text_field :dish_name, class: dish_name_class, placeholder: "Enter dish name" %>
    <!-- Input for dish_name end -->
    <% if dish_name_was_invalid %>
      <% dish.errors.full_messages_for(:dish_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dish_name end -->
  <!-- Label and input for c_id start -->
  <div class="form-group">
    <% c_class = "form-control" %>
    <% c_was_invalid = dish.errors.include?(:c) %>

    <% if was_validated %>
      <% if c_was_invalid %>
        <% c_class << " is-invalid" %>
      <% else %>
        <% c_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :c_id %>
    <!-- Input for c_id start -->
    <%= f.number_field :c_id, class: c_class, placeholder: "Enter c" %>
    <!-- Input for c_id end -->
    <% if c_was_invalid %>
      <% dish.errors.full_messages_for(:c).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for c_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
